#nutrition_plan_container{
  background: url(../../images/nutrition.jpg); 
  position: fixed;
  background-size: cover;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  overflow-y: scroll;  

}

#nutrition_plan_form{
  
  float: left;
  width: 35%;
  margin-left: 10%;
  margin-top: 10%;
  background-color:  rgb(23,1,1, 0.5);
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 37.50px;

}

@media screen and (max-width: 980px) {

  #nutrition_plan_form{
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
  }
}