#food-form{
  
  float: left;
  width: 30%;
  margin-left: 6%;
  margin-top: 10%;
  background-color:  rgb(23,1,1, 0.5);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

}

form>h3{
  color: rgb(205,205,231)
}

#log-edit{

  margin-left: 1rem;
  width: 3rem;

}

#logs-container{

  margin-right: 10%;
  margin-top: 10%;
  float: right;
  width: 50%;
  background-color:  rgb(23,1,1, 0.5);
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 37.50px;

}



#logs{

  background-color:  rgb(255, 255, 255, 0.5);

}

#food-container{

  background: url(../../images/food.jpg); 
  position: fixed;
  background-size: cover;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  overflow-y: scroll;  

}

#choices{

  background-color: aliceblue;
  max-height: 300px;
  max-width: 80%;
  overflow: auto;

}

.choices:hover{

  background-color: aqua;

}

button.portion-button.dropdown-item{

  color: wheat;

}

@media screen and (max-width: 980px) {

  #food-form{

    width: 90%;
    clear: both;
    margin-left: 5%;
    margin-top: 20%;
    background-color:  rgb(23,1,1, 0.5);

  }
  
  #logs-container{

    width: 90%;
    float: left;
    clear: both;
    margin-left: 5%;
    margin-top: 5%;
    background-color:  rgb(23,1,1, 0.5);

  }

}