#profile-container{
  background: url(../../images/balance.jpg); 
  position: fixed;
  background-size: cover;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  overflow-y: scroll; 
}

div.dropdown-menu{
  background-color:  rgb(23,1,1, 0.6);
}


#controls-container{
  color: rgb(205,205,231);
  margin: auto;
  margin-top: 80px;
  margin-left: 40px;
  background-color:  rgb(23,1,1, 0.6);
  padding-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

#data-container{
  padding-left: 69px;
  padding-top: 42px;
  padding-bottom: 42px;
}
#profile-jumbotron{
  color: rgb(205,205,231);
  margin-top: 80px;
  background-color:  rgb(23,1,1, 0.6);
 
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  /* padding-top: 77.5px;
  padding-left: 77.5px;
  padding-bottom: 77.5px; */

}

Button.profile-button{
  background-color:rgb(48,41,34);
}

@media screen and (max-width: 1300px) {

  #controls-container{
    width: 250px;
  }
  
}


@media screen and (max-width: 750px) {

  #controls-container{
    width: 55%;
  }
  
}