
#navbar{
   z-index: 1;
   background-color: rgb(23,1,1, 0.7);
}

a.navbar-brand, a.nav-link{
   color: rgb(205,205,231);
}

#logMenu{
   background-color:  rgb(23,1,1, 0.5);
}

a.dropdown-item{
   color: rgb(205,205,231);
}
span.navbar-toggler-icon{
  background: url(../../images/menu.png); 
    background-size: cover;
}
div.dropdown-menu{
   background-color:  rgb(23,1,1, 0.6);
 }
 